*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}
body{
  background: #1f4037;  
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); 
  background: linear-gradient(to right, #99f2c8, #1f4037);
}